@model DashboardViewModel

<h1 class="mb-4">My Dashboard</h1>
<ul id="dashboardSummary" class="d-flex p-0 justify-content-center gap-3" style="list-style-type: none;">
    <li class="text-bg-warning py-2 px-4 rounded-2"><span class="fw-bold">Total Surveys: </span>@Model.TotalSurveys</li>
    <li class="text-bg-warning py-2 px-4 rounded-2"><span class="fw-bold">Published Surveys: </span>@Model.PublishedSurveys</li>
    <li class="text-bg-warning py-2 px-4 rounded-2"><span class="fw-bold">Draft Surveys: </span>@Model.DraftSurveys</li>
    <li class="text-bg-warning py-2 px-4 rounded-2"><span class="fw-bold">Total Responses: </span>@Model.TotalResponses</li>
</ul>
<hr />

<div class="d-flex justify-content-between align-items-center mb-2">
    <form method="get" class="d-flex gap-2">
            <input asp-for="Search"
                   class="form-control form-control-sm"
                   placeholder="Search surveys..." />

            <button class="btn btn-sm btn-outline-primary">
                Search
            </button>
            <a asp-action="Dashboard"
               class="btn btn-sm btn-secondary">
                Clear
            </a>
    </form>

    <a asp-action="Create" class="btn btn-primary">Create Survey</a>
</div>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>ID</th>
            <th>Status</th>
            <th>Questions</th>
            <th>Responses</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var survey in Model.Surveys)
        {
            <tr>
                <td>@survey.Title</td>
                <td>@survey.Id</td>
                <td><span class="@(survey.IsPublished ? "bg-success" : "bg-danger") rounded-circle d-inline-block" style="padding: 6px;"></span></td>
                <td>@survey.QuestionCount</td>
                <td>@survey.ResponseCount</td>
                <td>@survey.CreatedAt</td>
                <td class="d-flex align-items-center gap-2">
                    <a href="@Url.Action("Edit", new { id = survey.Id })" class="btn btn-sm btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = survey.Id })" class="btn btn-sm btn-danger">Delete</a>
                    <a href="@Url.Action("Details", new { id = survey.Id })" class="btn btn-sm btn-success">Details</a>
                    @if (survey.IsPublished)
                    {
                        <a href="@Url.Action("Take", new { id = survey.Id })" class="btn btn-sm btn-primary">Take</a>
                        <a href="@Url.Action("Results", new { id = survey.Id })" class="btn btn-sm btn-info">Result</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination pagination-sm">
        <li class="page-item btn-outline-primary">
            @* Previous button *@
            <a class="page-link @(Model.CurrentPage == 1 ? "disabled" : "")"
               asp-action="Dashboard"
               asp-route-search="@Model.Search"
               asp-route-page="@(Model.CurrentPage - 1)">
                &laquo;
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link"
                   asp-action="Dashboard"
                   asp-route-search="@Model.Search"
                   asp-route-page="@i">
                    @i
                </a>
            </li>
        }
        <li class="page-item btn-outline-primary">
            @* Next button *@
            <a class="page-link @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")"
               asp-action="Dashboard"
               asp-route-search="@Model.Search"
               asp-route-page="@(Model.CurrentPage + 1)">
                &raquo;
            </a>
        </li>
    </ul>
</nav>
